@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");


body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #9a71dd;   
}

body::-webkit-scrollbar-thumb {
    background: #bcc1c3;
}

:root {
    --gradient-color: linear-gradient(90deg,
                      rgb(154, 113, 221) 0%,
                      hsl(266, 63%, 74%));
    --black-color: hsl(225, 15%, 6%);
    --reflection-color: hsla(48, 30%, 95%, .3);
  
    --button-font: "Montserrat", sans-serif;
    --normal-font-size: 1rem;

    --first-color: hsl(230, 100%, 50%);
    --second-color: hsl(150, 100%, 38%);
    --title-color: hsl(230, 24%, 12%);
    --text-color: hsl(230, 4%, 60%);
    --gray-color: hsl(230, 24%, 88%);
    --border-color: hsl(230, 4%, 92%);
    --body-color: hsl(230, 100%, 98%);
    --container-color: hsl(0, 0%, 100%);

    --quote-font: "Syne", sans-serif;
    --h2-font-size: 1.25rem;
    --normal-font-size: 1.10rem;  
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , 'Sans-serif';
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

a {
  text-decoration: none;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px, 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar-brand {
    font-size: 2em;
    pointer-events: none;
}

.navbar a {
    text-decoration: none;
    padding: 6px, 15px;
    margin: 0 10px;
    border-radius: 20px;
    font-weight: 600;
}

.navbar ul a:hover, 
.navbar a.active {
    background: #9a71dd;
    color: #F6F1E3;
}

.quote-container {
  background-color: #fff;
  max-width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  margin: auto;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.quote h1 {
  font-size: 2rem;
  font-family: var(--button-font);
  font-style: italic;
  margin-bottom: 20px;
  color: #333;
}

.quote p {
  font-size: 1.5rem;
  font-family: var(--quote-font);
  color: #555;
  padding: 1rem;
}

.button-container a {
    text-decoration: none;
}

.button-container {
  height: 10vh;
  margin-inline: 1.5rem;
  display: grid;
  place-items: center;
}

.button {
  position: relative;
  transition: transform .4s;
  display: block;
  max-width: 100%;
  height: auto;
}
  
.button_content {
  position: relative;
  background: var(--gradient-color);
   padding: 1.25rem 3rem;
   border-radius: 4rem;
   border: 3px solid var(--black-color);
   color: var(--black-color);
   display: flex;
   align-items: center;
   column-gap: .5rem;
   overflow: hidden;
}
  
.button_text {
  font-weight: 600;
  font-family: var(--button-font);
  font-size: var(--normal-font-size);
}
  
.button_icon {
  font-size: 1.5rem;
}
  
.button_text, 
.button_icon {
  position: relative;
  z-index: 2;
}

.button_reflection-1, 
.button_reflection-2 {
  width: 8px;
  height: 120px;
  background-color: var(--reflection-color);
  rotate: 30deg;
  position: absolute;
  inset: 0;
  top: 0;
  left: -180%;
  margin: auto;
  transition: left .6s cubic-bezier(.2, .5, .2, 1.2);
}

.button_reflection-1::after {
  content: "";
  width: 26px;
  height: 100%;
  background-color: var(--reflection-color);
  position: absolute;
  top: -1rem;
  left: 1.25rem;
}

.button_reflection-2::after {
  content: "";
  width: 40px;
  height: 100%;
  background-color: var(--reflection-color);
  position: absolute;
  top: -1rem;
  left: .8rem;
}

.button img {
  position: absolute;
  opacity: 0;
  transition: transform .5s, opacity .5s;
}
  
.button_star-1 {
  width: 20px;
  top: -14px;
  left: -16px;
  transform: rotate(48deg) scale(.1);
}

.button_star-2 {
  width: 40px;
  right: -10px;
  top: -4px;
  transform: rotate(-48deg) scale(.1);
}

.button_circle-1, 
.button_circle-2 {
  width: 8px;
}

.button_circle-1 {
  top: -8px;
  left: 58px;
  transform: scale(.1);
}

.button_circle-2 {
  right: 34px;
  bottom: -8px;
  transform: scale(.1);
}
  
.button_diamond {
  width: 18px;
  top: -18px;
  right: 62px;
  transform: scale(.1);
}

.button_triangle {
  width: 30px;
  left: 15px;
  bottom: -16px;
  transform: rotate(-48deg) scale(.1);
}

.button_shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: var(--gradient-color);
  padding: 1.25rem 3rem;
  border-radius: 4rem;
  border: 3px solid var(--black-color);
  z-index: -1;
  transition: transform .3s;
}

.button:hover .button_shadow {
  transform: translate(-.5rem, .5rem);
}

.button:hover .button_reflection-1 {
  left: 120%;
}
  
.button:hover .button_reflection-2 {
  left: -70%;
}
  
.button:hover {
  transform: rotate(-4deg) scale(1.1);
}
  
.button:hover img {
  opacity: 1;
}
  
.button:hover .button_star-1 {
  transform: scale(1.1);
  transition-delay: .1s;
}

.button:hover .button_star-2 {
  transform: scale(1.1);
}

.button:hover .button_circle-1 {
  transform: translateY(-8px) scale(1.1);
  transition-delay: .1s;
}

.button:hover .button_circle-2 {
  transform: translate(-20px, 20px) scale(1.1);
}

.button:hover .button_diamond {
  transform: translateY(7px) rotate(-24deg) scale(1.1);
}
  
.button:hover .button_triangle {
  transform: rotate(-12deg) scale(1.1);
}
