@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #5e00f4;   
}

body::-webkit-scrollbar-thumb {
    background: #bcc1c3;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins' , 'Sans-serif';
}
body {
    background-color: #F6F1E3;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px, 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar-brand {
    font-size: 2em;
    pointer-events: none;
}

.navbar a {
    text-decoration: none;
    padding: 6px, 15px;
    margin: 0 10px;
    border-radius: 20px;
    font-weight: 600;
}

.navbar ul a:hover, 
.navbar a.active {
    background: #9a71dd;
    color: #F6F1E3;
}
